{% extends 'index.html' %}

{% block title %} Homepage {% endblock %}


{% block content %}



<h2 style="text-decoration: underline;">
    Log in your account
</h2>

{% for message in messages %}
    <h4 style="color: red;">{{message}}</h4>
{% endfor %}

<form action="logging_in", method="post">
    {% csrf_token %}
    
    <p>Username: </p>
    <input type="text", name="username">

    <p>Password: </p>
    <input type="password", name="password">

    <br>
    <input type="submit">
    
</form>

{% endblock %}

